<%- include("templates/start") %>

    <div class="card-container">
        <article class="card">
            <img src="https://www.apple.com/newsroom/images/product/iphone/standard/Apple_iphone13_hero_09142021_inline.jpg.slideshow-xlarge_2x.jpg" alt="Iphone 13 Image" class="card__image">
            <div class="card__content">
                <h2 class="card__content__h2">Iphone 13</h2>
                <p class="card__content__details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit nobis sunt eveniet error accusantium repudiandae iure! Fugiat, harum illum reiciendis sit repudiandae consequuntur ipsam exercitationem, dolores, commodi hic at labore.</p>
                <p class="card__content__price">$299.00</p>

                <div class="card__content__button-group">
                    <a href="/products/:productId" class="card__content__button">Details</a>
                    <button type="button" class="card__content__button">Add to Cart</button>
                </div>
            </div>
        </article>
        <article class="card">
            <img src="https://www.apple.com/newsroom/images/product/iphone/standard/Apple_iphone13_hero_09142021_inline.jpg.slideshow-xlarge_2x.jpg" alt="Iphone 13 Image" class="card__image">
            <div class="card__content">
                <h2 class="card__content__h2">Iphone 13</h2>
                <p class="card__content__details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit nobis sunt eveniet error accusantium repudiandae iure! Fugiat, harum illum reiciendis sit repudiandae consequuntur ipsam exercitationem, dolores, commodi hic at labore.</p>
                <p class="card__content__price">$299.00</p>

                <div class="card__content__button-group">
                    <a href="/products/:productId" class="card__content__button">Details</a>
                    <button type="button" class="card__content__button">Add to Cart</button>
                </div>
            </div>
        </article>
        <article class="card">
            <img src="https://www.apple.com/newsroom/images/product/iphone/standard/Apple_iphone13_hero_09142021_inline.jpg.slideshow-xlarge_2x.jpg" alt="Iphone 13 Image" class="card__image">
            <div class="card__content">
                <h2 class="card__content__h2">Iphone 13</h2>
                <p class="card__content__details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit nobis sunt eveniet error accusantium repudiandae iure! Fugiat, harum illum reiciendis sit repudiandae consequuntur ipsam exercitationem, dolores, commodi hic at labore.</p>
                <p class="card__content__price">$299.00</p>

                <div class="card__content__button-group">
                    <a href="/products/:productId" class="card__content__button">Details</a>
                    <button type="button" class="card__content__button">Add to Cart</button>
                </div>
            </div>
        </article>
        <article class="card">
            <img src="https://www.apple.com/newsroom/images/product/iphone/standard/Apple_iphone13_hero_09142021_inline.jpg.slideshow-xlarge_2x.jpg" alt="Iphone 13 Image" class="card__image">
            <div class="card__content">
                <h2 class="card__content__h2">Iphone 13</h2>
                <p class="card__content__details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit nobis sunt eveniet error accusantium repudiandae iure! Fugiat, harum illum reiciendis sit repudiandae consequuntur ipsam exercitationem, dolores, commodi hic at labore.</p>
                <p class="card__content__price">$299.00</p>

                <div class="card__content__button-group">
                    <a href="/products/:productId" class="card__content__button">Details</a>
                    <button type="button" class="card__content__button">Add to Cart</button>
                </div>
            </div>
        </article>
    </div>

<%- include("templates/end") %>
