<%- include("../templates/start") %>

    <div class="centered-container">
        <article class="card">
            <img src="/images/subscribe-seller.svg" alt="Seller Subscribe Image" class="card__image">
            <div class="card__content">
                <h2 class="card__content__h2">Become a Seller!</h2>
                <p class="card__content__details">By becoming a Seller, you will be able to add your own Product</p>

                <form action="/subscribe-seller" method="post">
                    <button type="submit" class="card__content__button">Subscribe</button>
                </form>
            </div>
        </article>
    </div>

<%- include("../templates/end") %>
